SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
APP_RUNTIME_DIR=C:/Users/Tony/AppData/Local/ClinicaEspiro
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

# PostgreSQL / Supabase
# Opcion recomendada en nube:
# DATABASE_URL=postgresql://postgres:[TU_PASSWORD]@db.[TU_PROYECTO].supabase.co:5432/postgres?sslmode=require
#
# O tambien por partes:
# DB_NAME=clinica_espiro
# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_HOST=127.0.0.1
# DB_PORT=5432
# DB_SSLMODE=require
